.config/tmux/*
!.config/tmux/tmux.conf

.config/zed/*
!.config/zed/settings.json
!.config/zed/keymap.json
!.config/zed/snippets/javascript.json

.config/raycast/*

.config/karabiner/*
!.config/karabiner/karabiner.json

**/.DS_Store
